.batbody {
	width: 50px;
	height: 20px;
	border: 1px solid #000000;
	float: left;
	position: relative;
}
.emptycharge {
	width: 48px;
	height: 18px;
	background-color: red;
}
.contact_plus {
width: 20px;
height: 10px;
  
 }
.batbody, .emptycharge,
 .contakt_plus {
 	display: inline-block;
}