/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.wrapper {
	background-color: #d13434;
	width: 1370px;
	min-height: 768;
	position: relative;
}
.block1 {
	background-color: #fff;
	height: 70%;
	margin-top: 13%;
	margin-bottom: 13%; 
	position: absolute;

}*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #868686;
}
.block1 {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #fff;
  color: #000;
}
.block2 {
	position: relative;
	background-color: #fff;
	border: 3px solid black;
	height: 540px;
	width: 60%;
	margin-top: 50px;
	margin-left: 290px;
	z-index: 1;
	vertical-align: middle;
}
