h1 {
	color:crimson;
	font-size: 24px;
}
a:hover {
	text-decoration: none;
}
a,
li {
	color: #006400;
	font-size: 19.2px;
	text-align: left;
}
footer {
	text-align: center;
	border-bottom: 2px dashed black;
}
figcaption {
	font-size: 1.2em;
}
img {
	width: 300px;
	border: 4px double #ff00ff;
}